body{
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: darkcyan;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: cadetblue;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: orangered;
    text-decoration: none;
   
  }
  
  /* visited link */
  a:visited {
    color: tomato;
    text-decoration: none;

  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: orangered;

  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
 
  }





/* popup https://www.youtube.com/watch?v=Z4XXA89mTy8&ab_channel=Codingflag*/
.popup{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  padding: 20px;
  border-radius:10px;
  box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
  margin-top:-25px;
  opacity:0;
}

body{
  transition: filter 300ms ease-in-out 300ms;
}

body.active_popup nav{
  filter:blur(100px);
  overflow:hidden;
  background:rgba(0,0,0,0.8);
  transition: filter 0ms ease-in-out 300ms;
}

body.active-popup .popup{
  top:50%;
  opacity: 1;
  margin-top:0px;
  transition: top 0ms ease-in-out 0ms, opacity 300ms ease-in-out, margin-top 300ms ease-in-out;
}

.topic-container{
  display:flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  margin: auto;
  align-items: center;
  justify-content: center;

}

.topic{
  display: flex;
  flex-direction: row;
  margin: 5px 0px 5px 0px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  width: 70%;
}

.topic-container > li{
    width:100%;
    display:flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.topic:hover{
  background-color: orange;
}

.topic:hover > *{
  color: white;
}

.posts-container{
  display:flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  margin: auto;
  align-items: center;
  justify-content: center;

}

.posts-container > li{
  width:100%;
  display:flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.post-preview {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  width: 70%;
}

.navbar{
  display: flex;
  background-color: green;
}